In [6]:
import pandas as pd
import re
import numpy as np
import re

In [7]:
finbert_tweet = pd.read_csv('finbert_tweet.csv')
finbert_tweet

,Embedded_text,Likes,date,positive,negative,neutral
0,rmcali rmcali no i dropped it last night dont ...,1,2010-01-02,0.026584,0.674945,0.298471
1,unity uniformity,1,2010-01-03,0.080958,0.022971,0.896072
2,vancouver loves their canucks illustration thi...,1,2010-01-03,0.073217,0.031884,0.894900
3,i dont know what is i probably dont want to,1,2010-01-04,0.038053,0.092457,0.869490
4,what rock did you crawl out from under now is ...,1,2010-01-05,0.068454,0.029205,0.902341
...,...,...,...,...,...,...
35742,meet on extending telangana session held today,1,2016-12-30,0.027682,0.033662,0.938656
35743,city of pacifica is recruiting citizens for be...,1,2016-12-30,0.071274,0.013786,0.914940
35744,bac credomatic edif grane,1,2016-12-31,0.050860,0.016384,0.932756
35745,why did reducing laws from to have an impact o...,1,2016-12-31,0.050802,0.046247,0.902951
35746,analysts on estimize are expecting yoy eps gro...,1,2016-12-31,0.945803,0.022427,0.031770

# Sum with likes

In [11]:
finbert_likes_sum = finbert_tweet.copy()
finbert_likes_sum['positive'] = finbert_likes_sum.Likes * finbert_likes_sum.positive
finbert_likes_sum['negative'] = finbert_likes_sum.Likes * finbert_likes_sum.negative
finbert_likes_sum['neutral'] = finbert_likes_sum.Likes * finbert_likes_sum.neutral
finbert_likes_sum

,Embedded_text,Likes,date,positive,negative,neutral
0,rmcali rmcali no i dropped it last night dont ...,1,2010-01-02,0.026584,0.674945,0.298471
1,unity uniformity,1,2010-01-03,0.080958,0.022971,0.896072
2,vancouver loves their canucks illustration thi...,1,2010-01-03,0.073217,0.031884,0.894900
3,i dont know what is i probably dont want to,1,2010-01-04,0.038053,0.092457,0.869490
4,what rock did you crawl out from under now is ...,1,2010-01-05,0.068454,0.029205,0.902341
...,...,...,...,...,...,...
35742,meet on extending telangana session held today,1,2016-12-30,0.027682,0.033662,0.938656
35743,city of pacifica is recruiting citizens for be...,1,2016-12-30,0.071274,0.013786,0.914940
35744,bac credomatic edif grane,1,2016-12-31,0.050860,0.016384,0.932756
35745,why did reducing laws from to have an impact o...,1,2016-12-31,0.050802,0.046247,0.902951
35746,analysts on estimize are expecting yoy eps gro...,1,2016-12-31,0.945803,0.022427,0.031770

In [12]:
finbert_likes_sum = finbert_likes_sum[['date', 'positive', 'negative', 'neutral']]
finbert_likes_sum = finbert_likes_sum.groupby('date').sum()
finbert_likes_sum

            positive  negative   neutral
date
2010-01-02  0.026584  0.674945  0.298471
2010-01-03  0.154174  0.054855  1.790971
2010-01-04  0.038053  0.092457  0.869490
2010-01-05  0.068454  0.029205  0.902341
2010-01-07  0.690354  0.155496  1.154151
...              ...       ...       ...
2016-12-27  1.271638  1.078538  9.649825
2016-12-28  1.061011  0.103935  1.835053
2016-12-29  6.959912  0.335957  3.704131
2016-12-30  1.258805  0.257219  6.483976
2016-12-31  1.047464  0.085059  1.867477

[2445 rows x 3 columns]

# Average without likes

In [15]:
finbert_avg = finbert_tweet.copy()
finbert_avg = finbert_avg[['date', 'positive', 'negative', 'neutral']]
finbert_avg = finbert_avg.groupby('date').mean()
finbert_avg

            positive  negative   neutral
date
2010-01-02  0.026584  0.674945  0.298471
2010-01-03  0.077087  0.027427  0.895486
2010-01-04  0.038053  0.092457  0.869490
2010-01-05  0.068454  0.029205  0.902341
2010-01-07  0.345177  0.077748  0.577075
...              ...       ...       ...
2016-12-27  0.239410  0.324679  0.435911
2016-12-28  0.353670  0.034645  0.611684
2016-12-29  0.410679  0.107965  0.481356
2016-12-30  0.157351  0.032152  0.810497
2016-12-31  0.349155  0.028353  0.622492

[2445 rows x 3 columns]

In [16]:
finbert_likes_sum.to_csv('finbert_likes_sum.csv')
finbert_avg.to_csv('finbert_avg.csv')